<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utils.Listener"></listener>
	</listeners>
	<parameter name="browser" value="chrome"></parameter>
	<parameter name="baseUrl" value="https://katalon-demo-cura.herokuapp.com/"> </parameter>
  <test thread-count="5" name="FunctionalTesting">
	 <classes>
      <class name="testcases.TC001_ValidLoginTest"/>
      <class name="testcases.TC002_InvalidLoginTest"/>
      <class name="testcases.TC003_ValidateBookAppointmentTest"/>
      <class name="testcases.TC004_InvalidBookAppointmentTest"></class>
      <class name="testcases.TC005_ValidAppoinmentHistoryTest"/>
      <class name="testcases.TC006_ValidateHistoryWithoutBooking"/>
      <class name="testcases.TC007_LogoutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
